@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

.background {
  background: rgb(81, 18, 85);
  background: radial-gradient(circle, rgba(81, 18, 85, 1) 0%, rgba(25, 15, 26, 1) 43%);
}

.text-color {
  background: linear-gradient(to top, rgb(194, 40, 208), rgb(29, 2, 31));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}